<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script data-ad-client="ca-pub-7483493678560822" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/css/simple-sidebar.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <style>
      #promotion-dialog {
        display: none;
      }

      .ui-dialog {
        padding: 0 !important;
        width: 184px !important;
        border: 0 !important;
      }

      .ui-dialog-content {
        padding: 0 !important;
        width: 184px !important;
        border: 0 !important;
      }

      .ui-corner-all {
        border-radius: 0;
      }

      .ui-state-default,
      .ui-widget-content .ui-state-default,
      .ui-widget-header .ui-state-default {
        border: 0 !important;
      }

      #promote-to .ui-selecting {
        background: #feca40;
      }

      #promote-to .ui-selected {
        background: #f39814;
        color: white;
      }

      #promote-to {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 184px;
        height: 46px;
      }

      #promote-to li {
        margin: 0;
        padding: 0;
        width: 46px;
        height: 46px;
        cursor: pointer;
        float: left !important;
      }

      .ui-dialog .ui-dialog-content {
        padding: 0;
      }

      .no-close .ui-dialog-titlebar-close {
        display: none;
      }

      .noTitleStuff .ui-dialog-titlebar {
        display: none;
      }

      .promotion-piece {
        width: 46px;
        height: 46px;
      }

      .piece-name {
        display: none;
      }
    </style>
    <title>Chessboard App</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <script src="/js/chess.js"></script>
    <script src="/js/chessboard-0.3.0-new.js"></script>
    <link rel="stylesheet" href="/css/chessboard-0.3.0-new.css" />
    <script src="/js/mediasoup-client.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="https://chessboardjs.com/js/jquery-3.4.1.min.js"></script> -->
  </head>
  <body>
    <%- body %>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="/js/jquery-ui.js"></script> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Menu Toggle Script -->
  </body>
</html>
