<div class="d-flex" id="wrapper">
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <% include ../partials/admin-navbar %>

    <div class="container">
      <h1 class="mt-4"><%=page.title%></h1>
      <div class="col"><%-page.content%></div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>